{
  "presets": ["env"],
  "plugins": [
    "transform-function-bind",
    "transform-react-jsx",
    [
      "import",
      {
        "libraryName": "antd",
        "style": true
      }
    ]
  ]
}
